.logo {
  max-height: 300px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

html,
body {
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
p,
footer {
  text-align: center;
  width: 100%;
  display: block;
}

nav {
  justify-content: space-around;
  font-size: 25px;
  display: flex;
  border: 1px solid black;
  background-color: #d98b48;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #f2f2f0;
}

.footer {
  height: 400px;
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
}

.footerblock {
  background-color: #72878c;
  border: 1px solid black;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.some a {
  margin: 50px;
  font-size: 45px;
  color: #f0f0f0;
  margin: 30px 30px 30px 30px;
  display: none;
}

.links a,
li {
  margin: 10px;
  font-size: 18px;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.links a:hover {
  color: #f0f0f0;
}

.some a:hover {
  color: #d98b48;
}

.some2 {
  font-size: 14px;
  padding: 10px 200px;
  font-size: 30px;
  margin-left: 101px;
}

.some2 a :hover {
  color: #d98b48;
}

.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

input[type="text"] {
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #00b894;
}

span.price {
  float: right;
  color: grey;
}

.jacketdesc {
  margin-left: 350px;
  margin-top: 100px;
}

.price {
  float: right;
}

.jacket {
  height: 200px;
  float: left;
  margin-bottom: 50px;
}

.card {
  border: 1px solid black;
  max-width: 400px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 180px;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.success {
  max-width: 100px;
}

.hamburger-label {
  float: right;
  color: black;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

nav {
  display: none;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

@media (min-width: 600px) {
  .logo {
    max-height: 350px;
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .card {
    max-width: 400px;
  }

  .footerblock {
    background-color: #72878c;
    border: 1px solid black;
    width: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .links {
    margin: 10px;
    font-size: 18px;
    color: black;
    display: inline-block;
    text-decoration: none;
  }

  .links a:hover {
    color: #f0f0f0;
  }

  .some a {
    margin: 20px;
    font-size: 45px;
    color: #f0f0f0;
    display: inline-block;
    text-align: center;
  }

  nav {
    justify-content: space-around;
    font-size: 25px;
    display: flex;
    border: 1px solid black;
    background-color: #d98b48;
    max-width: 1478px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .hamburger-label {
    display: none;
  }

  ul {
    padding: 0px;
    display: flex;
  }

  li {
    display: inline-block;
  }

  nav a {
    padding: 5px;
  }

  .container-form,
  .pleft,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .boxed {
    max-width: 80%;
  }
}
